
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: 'myfonts';
    src: url('Assets/Font/Renegade\ Pursuit.otf') format('truetype');

  }

  /* Menggunakan font di seluruh halaman */
  body {
    font-family: 'myfonts', sans-serif;
    background: #000;

  }

  :root{
    --primarycolor: #fff;
    --boredercolor: #C81C1F;
     --boredercolor2: #304EA6;
    --textcolor1: #2D2D2D;
    --textcolor2: #252525;

}

.mainbox{
    width: 1920px;
    height: 367px;

    display: flex;
    flex-direction: column;
}

.upper{
    width: 1920px;
    height: 92.5px;
    background-color: #ffffff;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.lower{
    width: 1920px;
    height: 274.5px;
    background-image: url(Assets/Other/full1.png);
    background-size: contain;
    background-position: center;
    display: flex;
}

.upperside{
    width: 725px;
    height: 92.5px;
    box-sizing: border-box;
    display: flex;

}

.upperside{
    width: 725px;
    height: 92.5px;
    box-sizing: border-box;
    display: flex;
}



.uppermid{
    width: 470px;
    height: 92.5px;
    box-sizing: border-box;
    display: flex;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Assets/Other/draftbgtop.png);
}



.bantextbox{
    width: 50px;
    height: 92.5px;
    background-color: #ffff;
}

.banholder{
    width: 400px;
    height: 92.5px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.banholder2{
    width: 400px;
    height: 92.5px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.teamnameholder1{
    width: 400px;
    height: 92.5px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 25px;
    color: var(--textcolor1);
    text-align: left;
    background-image: url(./Assets/Other/draftbg.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;

}

.teamnameholder2{
    width: 400px;
    height: 92.5px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 25px;
    color: var(--textcolor1);
    text-align: right;
    background-image: url(./Assets/Other/draftbg2.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;

}




.banhero{
    width: 74px;
    height: 74px;
    position: relative;
    margin: 3px;
    overflow: hidden;
    border: solid 1px var(--boredercolor);
    background-image: url(Assets/Other/bab2.png);
    background-size: 100%;
}

.banhero2{
    width: 74px;
    height: 74px;
    position: relative;
    margin: 3px;
    overflow: hidden;
    border: solid 1px var(--boredercolor2);
    background-image: url(Assets/Other/bab3.png);
    background-size: 100%;
}

.banhero img{
    width: 74px;
    height: 74px;
    object-fit: contain;
    scale: 3;
    margin-top: 50px;
    filter: grayscale();
}

.lowerside{
    width: 725px;
    height: 274.5px;

    display: flex;
    flex-direction: column;
}

.pickholder{
    width: 725px;
    height: 227px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nickholder{
    width: 725px;
    height: 47.5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lowermid{
    width: 470px;
    height: 274.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--boredercolor);
    box-sizing: border-box;

}

.heropick{
    width: 147px;
    height: 227px;
    position: relative;
    border: solid 3px var(--boredercolor2);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heropick2{
    width: 147px;
    height: 227px;
    position: relative;
    border: solid 3px var(--boredercolor);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heropick img{
    width: 147px;
    height: 227px;
    object-fit: contain;
    scale: 1.03;
}




.playername{
    width: 147px;
    height: 47.5px;
    background-color: var(--textcolor2);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    columns: var(--textcolor1);
    color: var(--boredercolor);
}




.upperlowermid{
    width: 470px;
    height: 179px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.teamlogo{
    width: 102px;
    height: 102px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(Assets/Other/teamframe.png);
    background-size: 100%;
}

.teamlogo img{
    width: 102px;
    height: 102px;
    object-fit: contain;
    scale: 0.8;
}

.score{
    width: 45px;
    height: 45px;

    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--boredercolor);
    font-size: 50px;
    
}

.vs{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    color: var(--boredercolor);
}

.lowerlowermid{
    width: 470px;
    height: 95.5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.timerbar{
    width: 420px;
    height: 10px;
    background-color: var(--textcolor2);
}

#timer-bar {
    width: 420px;
    height: 10px;
    background-color: var(--boredercolor);
    position: relative;
    left: 50%;
    transform: translateX(-50%) scaleX(1);
    transition: none;
    transition: transform 0.3s, background-color 0.3s ease-in-out;
}

#timer-bar.blue-side {
    background-color: var(--boredercolor2);
}

#timer-bar.red-side {
    background-color: var(--boredercolor);
}

.timer-container{
    position: relative;
    width: 470px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    z-index: 10;
    gap: 0;
}

.timer-container::before,
.timer-container::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    z-index: 11;
}

.timer-arrow{
    width: 0;
    height: 0;
    position: absolute;
    transition: all 0.5s ease-in-out;
    z-index: 11;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    animation-delay: 0.5s;
}

.timer-arrow.left,
.timer-arrow.right{
    display: block;
}

.timer-arrow.left{
    left: calc(50% - 80px);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 30px solid var(--boredercolor2);
    border-left: none;
    animation: slideInLeft 0.5s ease-out forwards, arrowPulseHorizontalLeft 1.5s ease-in-out 0.5s infinite;
}

.timer-arrow.right{
    right: calc(50% - 80px);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 30px solid var(--boredercolor);
    border-right: none;
    animation: slideInRight 0.5s ease-out forwards, arrowPulseHorizontalRight 1.5s ease-in-out 0.5s infinite;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateY(-50%) translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateY(-50%) translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
    }
}

@keyframes arrowPulseHorizontalLeft {
    0%, 100% {
        transform: translateY(-50%) translateX(0);
    }
    50% {
        transform: translateY(-50%) translateX(-8px);
    }
}

@keyframes arrowPulseHorizontalRight {
    0%, 100% {
        transform: translateY(-50%) translateX(0);
    }
    50% {
        transform: translateY(-50%) translateX(8px);
    }
}

.timer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 60px;
}

.timer-number{
    font-size: 45px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #2D2D2D;
    line-height: 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.timer-number.updated{
    animation: numberPulse 1s ease-in-out;
}

.timer-phase{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #2D2D2D;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 3px;
    transition: all 0.3s ease;
}

.timer-phase.updated{
    animation: fadeInUp 0.5s ease-out;
}

@keyframes numberPulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*phasing*/

.draft-container { display: flex; flex-wrap: wrap; justify-content: center; gap: 10px; margin-top: 20px; }
.box { 
    width: 1000px; 
    height: 4000px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 18px; 
    font-weight: bold;
    transition: 0.3s; 
    margin-left: -200px;
    margin-top: -100px;
}
    
.ban0 {display: flex; }
.pick { display: flex; position: absolute; }
.active-ban { background-color: rgb(156, 11, 11); color: white ; animation: breathe 1.5s infinite alternate; }
.active-pick { background-color: #0e0e0e; color: white; animation: breathe 1.5s infinite alternate; }
@keyframes breathe {
    0% { transform: scale(1.1); opacity: 0.3; }
    100% { transform: scale(1.1); opacity: 0.5; }
}

.audiob{
    margin-top: 100px;
}

/*Hero*/ 
.image-container {
    display: flex;

}

.image-box{
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-box img {
    width: 100%;
    opacity: 0;
    transform: translateY(150%);
    transition: transform 2s ease-in-out, opacity 2s;
    position: relative;
    z-index: 2;
    position: absolute;
}
.image-box.show img {
    transform: translateX(0%);
    opacity: 1;
    position: absolute;
}


.clone-image-box img {
   
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 2s;
}
/* Animasi untuk clone */
.clone-animate {
    transition-delay: 1s;
    animation: fadeInScale 1s ease-out forwards;
}
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.hide{
    width: 0px;
    height: 0px;
    display: none;
    opacity: 0;
    font-size: 0px;
    overflow: hidden;
}

.name-image-box{
    position: absolute;
    z-index: 1;
    scale: 1.3;
    margin-top: 100px;
}